Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
prodDb.mv.db
packaged-chart
.lock
charts/*.tgz
/apps/omar-ui-app/bin/
/apps/omar-ui-app/application.yml
*.tgz
