@font-face {
  font-family: "Glyphicons Halflings";
  src: url("webjars/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot");
  src: url("webjars/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix")
      format("embedded-opentype"),
    url("webjars/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff")
      format("woff"),
    url("webjars/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.ttf")
      format("truetype"),
    url("webjars/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular")
      format("svg");
}


body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.center-modal {
  position: fixed;
  top: 20%;
  left: 18.5%;
  z-index: 1050;
  width: 80%;
  height: 80%;
  margin-left: -10%;
}

.cursor-pointer {
  cursor: pointer;
}

.ResultsPane {
  /*background-color: black;*/
  max-height: 80%;
  min-height: 60%;
  background: linear-gradient(to bottom, #101010 0%, #16191E 34px, #474A4F 35px, #272B2E 35px, #272B2E 100%);
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color: #474A4F;
  border-radius: 5px;
  border-width: 1px;
  padding-bottom: 12px;
}

.Results-tab-heading {
  position: relative;
  top: 7px;
  left: 7px;
  min-height: 24px !important;
  margin-bottom: 14px;
}

.reachbackTabButton {
  width: 30%;
  min-height: 28px !important;
  color: #C4C8C9;
  background: linear-gradient(to bottom, #474A4F 0%, #3C3F44 100%);
  border-style: solid;
  border-color: #474A4F;
  border-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.reachbackTabButton:hover {
  color: #FEFFFF;
  background: linear-gradient(to bottom, #3C3F44 0%, #3C3F44 100%);
  border-color: #404348;
}

.reachbackTabButton:focus {
  outline: none !important;
}

.reachbackTabButtonClicked {
  width: 30%;
  min-height: 28px !important;
  color: #FEFFFF;
  background: linear-gradient(to bottom, #272B2E 0%, #272B2E 100%);
  border-style: solid;
  border-color: #272B2E;
  border-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.reachbackTabButtonClicked:focus {
  outline: none !important;
}

.reachbackPanel {
  resize: none;
  outline: none;
  border-style: solid;
  border-color: #F0F0F0;
  min-height: 70%;
  min-width: 100%;
  border-width: 1px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  white-space: nowrap;
  color: #F0F0F0;
  background: transparent;
}

.navbar {
  min-height: 28px !important;
}

.navbar-fixed-top {
  height: 20px;
}

.navbar-fixed-bottom {
  height: 20px;
}

.navbar-brand {
  padding-top: 15px;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.nav-title-left {
  margin-left: 10px;
}

.nav-title-left h3 {
  margin-top: 0.55em;
}

.nav-title-left p {
  margin-bottom: -3px;
  font-size: 0.95em;
}

.jumbotron {
  position: relative;
  background: #000 url("aerial_rs.jpg") center center;
  width: 100%;
  background-size: contain;
  overflow: hidden;
  padding-top: 4px;
  padding-bottom: 24px;
  height: 180px;
}

.jumbotron h1 {
  padding-bottom: 6px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.jumbotron h2 {
  padding: 6px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.motd-banner {
  padding-bottom: 5px;
}

.well-home {
  cursor: pointer;
}

.image-id-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tooltip {
  z-index: 2000;
}

.searchForm {
  left: 30px;
  padding-top: 10px;
  width: 320px;
}

.release-field {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.imageMapNav {
  margin-top: -15px;
  margin-bottom: 8px;
}
.imageMapTools {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 10px;
  overflow-y: auto;
}

.imageMapTools > .panel-info {
  margin-bottom: 4px;
}

.imageMapTools .panel-body {
  padding-top: 5px;
  padding-bottom: 5px;
}
.imageMapTools .band-selection-panel {
  padding-bottom: 10px;
}

.imageMapTools ul {
  padding-left: 0px;
  margin-bottom: 2px;
}
.imageMapTools .list-group-item {
  padding: 7px 7px;
}
.imageMapTools > .panel-info .selectize-input {
  margin-top: 5px;
}

.imageMapTools label {
  margin-bottom: 0px;
  margin-left: 5px;
}

.imageMapTools .measure-output {
  margin-top: 3px;
  margin-bottom: 3px;
}

.imageMapTools .brightness-slider {
  margin-top: 30px;
}

.imageMapTools .pqe-warning {
  margin-top: 3px;
  margin-bottom: 3px;
}

.imageMapBorder {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

/* Keeps the temporal filter calendars from overlapping, and still allows them
to wrap correctly using Bootstrap's default media queries (mobile) */
@media screen and (min-width: 767px) AND (max-width: 1681px) {
  .temporal-row {
    min-width: 600px;
  }
}

@media screen and (max-height: 599px) {
  #map {
    height: 57vh;
  }
  #list, #video-list {
    height: 37vh;
  }
  #mapOrtho {
    height: 68vh;
  }
  .imageMap {
    height: 65vh;
  }
  .imageMapTools {
    height: 65vh;
  }
}

@media screen and (min-height: 600px) AND (max-height: 699px) {
  #map {
    height: 72vh !important;
  }
  #list, #video-list {
    height: 55vh !important;
  }
  #mapOrtho {
    height: 73vh;
  }
  .imageMap {
    height: 71vh;
  }
  .imageMapTools {
    height: 71vh;
  }
}

@media screen and (min-height: 700px) AND (max-height: 799px) {
  #map {
    height: 75vh !important;
  }
  #list, #video-list {
    height: 61vh !important;
  }
  #mapOrtho {
    height: 77vh;
  }
  .imageMap {
    height: 74vh;
  }
  .imageMapTools {
    height: 74vh;
  }
}

@media screen and (min-height: 800px) AND (max-height: 899px) {
  #map {
    height: 78vh !important;
  }
  #list, #video-list {
    height: 65vh !important;
  }
  #mapOrtho {
    height: 80vh;
  }
  .imageMap {
    height: 77vh;
  }
  .imageMapTools {
    height: 77vh;
  }
}

@media screen and (min-height: 900px) AND (max-height: 999px) {
  #map {
    height: 80vh !important;
  }
  #list, #video-list {
    height: 69vh !important;
  }
  #mapOrtho {
    height: 82vh;
  }
  .imageMap {
    height: 79vh;
  }
  .imageMapTools {
    height: 79vh;
  }
}

@media screen and (min-height: 1000px) AND (max-height: 1099px) {
  #map {
    height: 82vh !important;
  }
  #list, #video-list {
    height: 72vh !important;
  }
  #mapOrtho {
    height: 83vh;
  }
  .imageMap {
    height: 81vh;
  }
  .imageMapTools {
    height: 81vh;
  }
}

@media screen and (min-height: 1100px) AND (max-height: 1199px) {
  #map {
    height: 84vh !important;
  }
  #list, #video-list {
    height: 74vh !important;
  }
  #mapOrtho {
    height: 85vh;
  }
  .imageMap {
    height: 83vh;
  }
  .imageMapTools {
    height: 83vh;
  }
}

@media screen and (min-height: 1200px) {
  #map {
    height: 86vh !important;
  }
  #list, #video-list {
    height: 76vh !important;
  }
  #mapOrtho {
    height: 86vh;
  }
  .imageMap {
    height: 84vh;
  }
  .imageMapTools {
    height: 84vh;
  }
}

.omar-sites-select {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  margin-bottom: 5px;
}

.navbar-sort-dropdown-toggle {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.navbar-sort-refresh {
  padding-left: 5px;
}

.sort-menu-divider {
  margin: 0px !important;
}

.button-sort-refresh {
  margin-top: 9px;
}

.dropdown-sort-selected {
  margin-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 4px;
  margin-top: 4px;
}

.dropdown-sort-selected-icon {
  height: 10px;
  width: 15px;
  padding-top: 10px;
  margin-top: -10;
}

.navbar-sort-list-number {
  margin-right: 0px;
}

#list, #video-list {
  overflow-y: auto;
  padding-right: 5px;
  margin-top: -15px;
}

#list .panel, #video-list.panel {
 margin-bottom: 3px;
}

#list .panel-body, #video-list.panel-body{
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 2px;
}

#list .media, #video-list.media {
  margin-bottom: -20px;
  margin-top: -5px;
}

#list .media .btn-group {
  margin-top: 2px;
}

#list .media .media-left img {
  cursor: pointer;
  background-repeat: no-repeat, repeat;
  background-position: center
}

#list .thumbnail-background {
  background: #000 url("checkerboard.png") center center;
  opacity: 0.75;
}

.jpip-loading-overlay {
  position: absolute;
  top: 45%;left: 45%;
  transform: translate(-50%, -50%);
}

.ranges hr {
  margin-top: 0px;
  margin-bottom: 11px;
}

.range-info {
  padding-left: 0px;
  margin-left: -10px;
  top: 5px;
}

.range-include-unknown {
  top: 4px;
  padding-left: 0px;
  margin-left: -30px;
}

.range-include-unknown-label {
  font-size: .8em;
  font-weight: normal;
}

#modal-image-space a {
  text-decoration: none;
}

#modal-image-space-body.modal-body {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: -20px;
}

#modal-image-space-footer.modal-footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.metadata-list {
  margin-left: 10px;
  margin-top: 10px;
}

.panel-avro-metadata {
  overflow-y: auto;
  font-size: 0.8em;
  margin-top: 5px;
  overflow-wrap: break-word;
}

.panel-avro-metadata ul {
  list-style: none;
}

.imageMap {
  width: 100%;
}

.list-card-modal-header-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-card-image-modal-links {
  float: left;
}

.list-card-modal-close {
  float: right;
}

.avro-metadata-url {
  word-wrap: break-word;
  font-size: 10px;
}

#mapOrtho {
  width: 100%;
}

/* class for #mouseCoords*/

.map-cord-div {
  position: absolute;
  bottom: 10px;
  right: 36%;
  cursor: pointer;
  z-index: 1;
  font-size: 0.7em;
  color: #fff;
  background-color: rgba(0, 60, 136, 0.5);
  transform: translate(-50%);
  padding: 2px 10px;
  border: none;
  border-radius: 2px;
  text-align: center;
  margin: 1px;
}

.imageShareButton {
  right: 3em;
}

.mapDownloadButton {
  right: 1em;
}

.imageLinkBtns {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  margin-right: 10px;
}

.imageLinkBtns i {
  background-color: rgba(0, 60, 136, 0.5);
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.imageLinkBtns a {
  text-decoration: none;
}

.shareModalHighlightCopyTxt {
  display: none;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/*!
 * Styles for wfs-partial
 */

.the-table {
  white-space: nowrap;
  max-width: none;
  min-width: 100%;
  width: auto;
}

.the-container {
  overflow: auto;
  height: 250px;
}

/*!
 * Styles the autocomplete dropdown
 */

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #2b3e50;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #4e5d6c;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #5bc0de;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 *
 * @geedmo - Licensed under the MIT license
 */

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}

.yamm .container {
  position: relative;
}

.yamm .dropdown-menu {
  left: auto;
}

.yamm .yamm-content {
  padding: 20px 30px;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}

.nav-download .dropdown-menu .dropdown-header {
  padding: 0px 20px;
  cursor: default;
}

.dropdown-header {
  padding: 0px 20px;
  cursor: default;
}

.dropdown-header-note {
  font-size: 0.7em;
}

.nav-download .dropdown-menu {
  min-width: 110px;
}

.rotate-north {
  top: 65px;
  left: 0.5em;
  right: auto;
}

.ol-touch .rotate-north {
  top: 80px;
}

.rotate-up {
  top: 95px;
  left: 0.5em;
}

.ol-touch .rotate-up {
  top: 120px;
}

.top-logo {
  margin-left: 70px;
}

.corner-ribbon {
  width: 175px;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #3b5957;
  background-color: #f8901b;
  text-shadow: 0px 1px 0px rgba(245, 251, 247, 0.5);
  font-size: 24px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.corner-ribbon.sticky {
  position: fixed;
}

.corner-ribbon.top-left {
  top: 20px;
  left: -80px;
  margin-left: 32px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 99999;
}

.shadow {
  -webkit-box-shadow: 14px 18px 36px -13px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 14px 18px 36px -13px rgba(0, 0, 0, 0.76);
  box-shadow: 14px 18px 36px -13px rgba(0, 0, 0, 0.76);
}

#imageMap:-moz-full-screen {
  height: 100%;
}

#imageMap:-webkit-full-screen {
  height: 100%;
}

#imageMap:-ms-fullscreen {
  height: 100%;
}

#imageMap:fullscreen {
  height: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

#grayImageItem,
#redImageItem,
#greenImageItem,
#blueImageItem {
  width: 60px;
}

#gray-image-space-bands,
#rgb-image-space-bands {
  display: none;
}

#image-space-bands {
  margin-top: -15px;
  margin-bottom: -15px;
}

.image-bands {
  width: 100%;
}

.image-bands label {
  font-size: 0.8em;
}

.image-band-div {
  width: 100px;
  margin-bottom: 20px;
}

#image-space-bands {
  position: relative;
  top: 20px;
}

.ui-select-container .selectize-input {
  padding: 4px 4px;
}

.ui-select-container .selectize-input:after {
  font-size: 0.1em;
}

#mapOrtho:-moz-full-screen {
  height: 100%;
}

#mapOrtho:-webkit-full-screen {
  height: 100%;
}

#mapOrtho:-ms-fullscreen {
  height: 100%;
}

#mapOrtho:fullscreen {
  height: 100%;
}

.ol-viewport {
  border-radius: 4px;
  border: 1px solid;
  background-color: #000000;
}

.ol-rotate,
.ol-rotate.ol-hidden {
  left: 0.5em;
  opacity: 1;
  right: auto;
  top: 65px;
  visibility: visible;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 8px 4px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.8));
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 275px;
  display: none;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.truncate {
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.mega-dropdown-menu hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

.mega-dropdown-menu .label {
  display: block;
  margin-top: 5px;
}

.btn-metrics {
  margin-bottom: 5px;
}

.metrics-row {
  min-width: 300px;
}

.metrics-message {
  font-size: 0.75em;
}

.user-menu-row {
  min-width: 300px;
}

.metrics-hr {
  margin-top: 14px !important;
}

.about-menu {
  cursor: default;
}

.about-row {
  min-width: 300px;
}

.about-message {
  font-size: 0.75em;
}

.cursor-default {
  cursor: default;
}

.tag {
  font-size: 0.8em;
  /* padding: .3em .4em .4em; */
  margin: 0 0.1em;
}
.tag a {
  color: #bbb;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1;
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 0.3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.tooltip-inner {
  min-width: 100px;
  max-width: 100%;
}

#brightness-section,
#contrast-section,
#imgBrightnessSlider,
#imgContrastSlider,
#brightnes-contrast-reset {
  width: 100%;
}

#imgBrightnessSlider .slider-selection,
#imgContrastSlider .slider-selection {
  background: #bababa;
}

#imgBrightnessVal,
#imgContrastVal {
  font-size: 0.8em;
  text-align: center;
}

#brightnes-contrast-reset .btn {
  float: right;
  width: 50px;
  height: 30px;
  padding: 5px 5px;
  line-height: 0px;
}

.slider.slider-horizontal .slider-track {
  height: 5px;
}

.slider-handle {
  width: 15px;
  height: 15px;
}

#imgLinkButtons {
  padding: 8px 12px;
  float: left;
  font-size: 1.5em;
}

#imgLinkButtons .tooltip-inner {
  min-width: 100px;
  max-width: 200px;
}

#imgLinkButtons.modal-footer {
  border-top: none;
}

#imgLinkButtons a {
  margin-right: 5px;
}

#imgLinkButtons a:visited,
#imgLinkButtons a:hover,
#imgLinkButtons a:active {
  text-decoration: none;
}

/* needed for ui-select multiple */
.ui-select-bootstrap .ui-select-choices-row > a {
  background-color: white;
}

.ui-select-search.input-xs.ng-pristine.ng-valid.ng-touched,
.ui-select-search.input-xs.ng-pristine.ng-untouched.ng-valid,
.ui-select-search.input-xs.ng-untouched.ng-valid.ng-dirty.ng-valid-parse,
.ui-select-search.input-xs.ng-valid.ng-dirty.ng-touched,
.ui-select-search.input-xs.ng-valid.ng-dirty.ng-valid-parse.ng-touched {
  width: auto !important;
}

#progress {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 99;
}

.legend-control {
  bottom: 10px;
  right: .5em;
}

.legend-control button {
  width: 4em;
  height: 1.3em;
  font-size: 1em;
  font-weight: 350;
}

#legend {
  position: absolute;
  bottom: 2.7em;
  right: 24px;
  border-radius: 5px;
  z-index: 1;
  max-height: 70%;
  overflow: auto;
  display: none;
  color: black;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.fa-spinner {
  color: white;
}

.classified-text {
  text-shadow: none !important;
}

.toast-message ol {
  padding-left: 15px;
}

.toolbox-description-text {
 margin-top: .7em;
}

.custom-map-control {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
    position: absolute;
}

.videos-checkbox {
  margin-top: 1em !important;
}